body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 950px;
}
img{
    max-width: 100%;
}
.header{
    background: #fff;
    width: 100%;
}

.js .header{
    position: fixed;
    width: 100%;
    z-index: 10;
}
.header__logo{
    text-transform: uppercase;
    background-color: #63c6ae;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    float: left;
    height: 100%;
}
.header__btnMenu{
    float: right;
    margin: 1.5em;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.header__nav{
    clear: left;
    width: 100%;
}

.header__nav ul{
    margin: 0;
    padding: 0;
}
.header__nav li{
    list-style-type: none;
    background-color: #242c2c;
   
    text-align: center;
    border-bottom: 1px dotted rgba(255,255,255, 0.2);
    text-transform: uppercase;
   
    
}

.header__nav  a{
    color: #586165;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 25px 0;
    transition: .5s ease;
}
.header__nav  a:hover{
    color: #63c6ae;
}
.js .header__nav{
    transition: max-height 1s;
}
.js .notebook-slide{
    overflow: hidden;
    color: white;
}

.js .notebook-slide .slideshow{
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 950px;
}

.js .notebook-slide figure{
    
    opacity: 0;
    transition: opacity 1s;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}
.js .notebook-slide figure.show{
    opacity: 1;
   position: static;
}

.js .notebook-slide .prev, .js .notebook-slide .next{
    z-index: 3;
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.js .notebook-slide .prev{
    left: 10px;
}
.js .notebook-slide .next{
    right: 10px;
}

.js .quote-slideshow{
    
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 950px;
    box-sizing: border-box;
    padding: 0 50px;
    color: white;
    align-items: center;
    
    
}
.js .quote-slideshow figure h2{
    margin-top: 0;
}
.js .quote-slideshow figure{
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    box-sizing: border-box;
    margin: 0;
   
}
.js .quote-slideshow figure.show{
    opacity: 1;
    position: static;
    
}

.js .quote-slideshow .prev, .js .quote-slideshow .next{
    z-index: 3;
    position: absolute;
    top: 50%;
    cursor: pointer;
    padding: 8px;
    border: 1px solid white;
    border-radius: 50%;
    box-sizing: border-box;
}
.js .quote-slideshow .prev{
    left: 0px;
}
.js .quote-slideshow .next{
    right: 0px;
}

.hero{
    height: 80vw;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(45deg,white 50%,transparent 50%) left calc(50% + 20px) bottom no-repeat,
                linear-gradient(-45deg,white 50%,transparent 50%) left calc(50% - 20px) bottom no-repeat,
                url(../img/01.jpg);
    background-size: 40px 40px, 40px 40px,cover;
   
}
.hero__title{
    background-color: #63c6ae;
    color: white;
    font-size: 28px;
    font-weight: 600;
    padding: 30px 20px ;
    text-transform: uppercase;
}
.hero__text{
    background-color: #242a2c;
    margin: 5px 30px 35px;
    color: white;
    padding: 20px;

}
.hero__btn{
    border: 1px solid rgba(255,255,255, 0.3);
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 15px 25px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
abbr[title]{
    text-decoration: none;
    border: none;
    
}
.cards_people{
    margin-top: 2.5em;
}
.cards_people__card:hover{
    outline: 5px solid #63c6ae;
    outline-offset: -5px;
   
}
.cards_people__card:hover .cards_people__avatar img{
    transform: translateY(-50%) ;
}
.cards_people__card:hover .cards_people__title, .cards_people__card:hover .cards_people__text{
    color: #63c6ae;
}
.cards_people__image{
    width: 100%;
}
.cards_people__avatar{
    margin: -55px auto;
    width: 88px;
    height: 88px;
    overflow: hidden;
}
.cards_people__content{
    text-align: center;
    border-left: 2px solid #dbe1e7;
    padding: 40px 25px 10px;
}
.cards_people__title{
    color: #737c85;
    font-size: 21px;
    font-weight: normal;
}
.cards_people__text{
    color: #929da5;
    font-size: 14px;
}

.content{
    background-color: #f8f9f9;
    padding: 20px 0px 80px;
    border-top: 1px solid #e3e3e3;

}

.content h3{
    color: #737c85;
    font-size: 21px;
    padding-top: 40px;
    font-weight: 400;
}
.content p{
    color: #929da5;
    font-size: 14px;
    word-spacing: 3px;
}
.button{
    padding: 15px 40px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    margin-right: 15px;
    display: inline-block;
    transition: background .5s;
}
.buttonp{
    background-color: #63c6ae;
}
.buttons{
    background-color: #737c85;
}
.button:hover{
    background: #929da5;
}


.last-articles__title{
    background-color: #63c6ae;
    padding: 5px 0px;
}
.last-articles__title h2{
    color: white;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
}
.last-articles__thumbs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0;
}
.last-articles__thumbs img{
    display: block;
    width: 100%;
}


.notebook-slide{
    background-color: #242a2c;
    padding: 125px 0 100px;
    width: 100%;
    overflow: auto;
}
.slideshow{
    white-space: nowrap;
}
.slideshow figure{
    display: inline-block;
}


.quote-container{
    background-color: #63c6ae;
    border-bottom: 12px solid #58b9a1;
    padding: 50px 0px;
}
.quote-slideshow h2{
    color: white;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
   
}
.quote-slideshow figcaption{
    color: white;
    font-size: 18px;
    text-align: center;

}
.no-js .quote-slideshow figure + figure{
    margin-top: 5em;
}
.footer{
    background-color: #242a2c;
    color: #454e51;
    padding: 50px 0px 250px;
    font-size: 14px;
}
.footer__contact li{
    list-style: none;
}
.footer__contact a{
    color: #454e51;
    display: block;
    text-decoration: none;
    font-weight: 600;
}
.footer__logo{
    text-transform: uppercase;
}



@media screen and (min-width: 1025px){
    .header{
        position: fixed;
    }
    .header__logo{
        width: 25%;
        box-sizing: border-box;
        text-align: right;
    }
    .header__btnMenu{
        display: none;
    }
    .header__nav{
        float: left;
        width: 75%;
        clear: none;
        max-width: 720px;
    }
    .header__nav ul{
        display: flex;
        justify-content: space-around;
        
    }
    .header__nav a{
        background-color: white;
        
    }
    .header__nav li{
        border-bottom: none;
        flex-grow: 1;
    }
    .cards_people{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }
    .content .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    .last-articles__thumbs{
        grid-template-columns: repeat(6, 1fr);
    }
    .footer .container{
        display: flex;
    }
    .footer .container > * {
        margin: 1.5em;
    }
    .footer__contact li + li{
        width: 100px;
        margin-top: 20px;
    }
}